<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style/index.css')}}">
    <title>R2G Restaurant Manager Admin Page</title>
  </head>
  <body>  
   
    
    {% extends 'navbar.html' %}

        {% block content %}

      <fieldset>
        <h3 class="create_Heading">
            CREATE PROFILE
        </h3>

        <form action="{{ url_for('displayCreateUserProfPage') }}" name="createMIForm" class="createTextBox" method='POST'>
        
          <input type="text" name="roles" placeholder="ROLES">
            
            <div class="privileges">
              <h3>Privileges</h3>  
            </div>
            

            <div class="checkbox-holders">  
              <div class="checkbox-holder">
                <input type="checkbox" id="p1" name="p1" value="Manage User Account">
                <label for="v1"> Manage User Account</label>
              </div>    
              
              <div class="checkbox-holder">              
                <input type="checkbox" id="p2" name="p2" value="Manage User Profile">
                <label for="v2" id= "checkBoxPoition"> Manage User Profile</label>
              </div>

              <div class="checkbox-holder">
                <input type="checkbox" id="p3" name="p3" value="Manage Menu Items">
                <label for="v3"> Manage Menu Items</label>
              </div>

              <div class="checkbox-holder">
                <input type="checkbox" id="p4" name="p4" value="Manage Menu Category">
                <label for="v4"> Manage Menu Category</label>
              </div>

              <div class="checkbox-holder">
                <input type="checkbox" id="p5" name="p5" value="Manage Coupon Codes">
                <label for="v5"> Manage Coupon Codes</label>
              </div>

              <div class="checkbox-holder">
                <input type="checkbox" id="p6" name="p6" value="Manage Orders">
                <label for="v6"> Manage Orders</label>
              </div>

              <div class="checkbox-holder">
                <input type="checkbox" id="p7" name="p7" value="Manage Report">
                <label for="v7"> Manage Report</label>
              </div>
            </div>

          <div class="button-holder">
            <input 
              class= "formButton" 
              type="submit" 
              value="CREATE" 
            />
  
            <input 
              type="button" 
              name="cancel" 
              value="CANCEL"
  
            />
          </div>
        </form>
      </fieldset>
      {% include 'message.html' %}
      {% endblock %}

    </section>
  </body>

  
</html>
