<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">
    <title>R2G Restaurant Manager Admin Page</title>
  </head>
  <body>  
  <div class="rm_adminPageTitle">
      <img class="logo" src="{{url_for('static', filename='assets/logo.png')}}">
    
      <p><b>R2G Restaurant Ordering System</b></p>
    
      <a href="{{ url_for('logout_page') }}" class="logout_button">Logout</a>
  </div>
  <section>
  <nav>
  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateMenuItemPage')}}">
      <button class="button">
          CREATE MENU ITEM
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewMenuItemPage')}}">
      <button class="button">
          VIEW MENU ITEM
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateCategoryPage')}}">
      <button class="button">
          CREATE CATEGORY
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewCategoryPage')}}">
      <button class="button">
          VIEW CATEGORY
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateCouponPage')}}">
      <button class="button">
          CREATE COUPON
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewCouponPage')}}">
      <button class="button">
          VIEW COUPON
      </button>
    </a>
  </div>
  </nav>
    <fieldset class=rm_form>
      <h3 class="create_Heading">
        CREATE COUPON
      </h3>
      <form action="{{ url_for('displayCreateCouponPage') }}" method='POST' name="createCouponForm" class="createTextBox">
          <div class="formInput-holders2">
          <div class="formInput-holder4">
            <input type="text" name="COUPON NAME" placeholder="COUPON CODE">
          </div>

          <div class="formInput-holder5">
            <input type="text" name="DISCOUNT AMOUNT" placeholder="DISCOUNT AMOUNT">
          </div>

          <div class="button-holder">
            <input class= "formButton" type="submit" value="CREATE" />
            <input type="button" name="cancel" value="CANCEL"
              href= "{{ url_for('manager_page') }}"/>
          </div>
      </form>
    </fieldset>
  </section>
</body>
</html>