 {% extends 'navbar.html'  %}

 <style>
  span{
    width: 150px;
    height: 30px;
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #faca69;
    text-align: center;
    background-color: #f0f5b8;
  }

  .editButton{
    background-color: #7CFC00;
    height: 30px;
    width: 50px;
  }
</style>


{% block content %}




<form action = '{{url_for("displayViewUserAccPage")}}' method='GET'>

 <div class ="searchBar center-it">

   <input type="search" id="mySearch" name = "mySearch" class="form-control" placeholder="Search.." />
 </div>
</form>

{% if noresult %}

<tr>
  <th scope="row">No Result</th>
  <td></td>

</tr>


{% else %}

{% if search %}


{% for i in search %}


<div class="searchResultsLists">
  <div class="searchResults">
    <span>{{i[0]}}</span>
    <button type="submit" name="edit" value="EDIT" class="editButton" > <a class='editButton' href ="{{ url_for('displayEditUserAccount',EmployeeID=i[0]) }}"type ='button'>Edit</a></button>
  </div>
</div>

{% endfor %}

{% else %}

<div class="displayAllUser">
  <table>
    {% for user in result %}
    <tr>
      <td>
        <span>{{user[4]}}</span>
      </td>
      <td>
        <button type="submit" name="edit" value="EDIT" class="editButton" > <a class='editButton' href ="{{ url_for('displayEditUserAccount',EmployeeID=user[4]) }}"type ='button'>Edit</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{%  endif  %}

{% endif %}



</tbody>
</table>

{% endblock %}

